
{:paths ["source-code/cljc"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "7dc7299d929c400625b15f5debe2ec9e4bf04f3b"}
         bithandshake/reagent-api  {:git/url "https://github.com/bithandshake/reagent-api"
                                    :sha     "c5e2cd2f349632637e89066a7c81d37e556a530d"}
         hiccup/hiccup             {:mvn/version "1.0.5"}
         org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
