
{:paths ["source-code/cljc"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "9186c1ebf6f47cdad87eb870cf2abe29000d2046"}
         bithandshake/reagent-api  {:git/url "https://github.com/bithandshake/reagent-api"
                                    :sha     "db69141f4043b899d55ed3faa36dd183be5f2e7c"}
         hiccup/hiccup             {:mvn/version "1.0.5"}
         org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
