
{:paths ["source-code/cljc"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "c39242f4f51c46a31b7ce08039d6cefece2e6c43"}
         bithandshake/reagent-api  {:git/url "https://github.com/bithandshake/reagent-api"
                                    :sha     "4f77c92e09d66abcaa99920cb42374a53a183c14"}
         hiccup/hiccup             {:mvn/version "1.0.5"}
         org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
